.happycustomercontainer {
    margin: 0 50px !important;
}

.happycustomertitle {
    font-size: clamp(36px, 5vw, 48px);
    color: #000;
    letter-spacing: -2px;
    margin: 0;
}

.sliderarrows {
    border: 0 !important;
    background-color: transparent;
}

.sliderarrows:first-child {
    margin-right: 16px;

}

.slidercard {
    height: 260px !important;
    border-radius: 25px !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding: 15px 20px;
}

.slidertext {
    color: rgba(0, 0, 0, 0.6);
}

@media(max-width: 600px) {
    .happycustomercontainer {
        margin: 0px !important;
    }

    .sliderarrows:first-child {
        margin-right: 10px;
    }
}